.bg-primary {
  background-color: #CD853F !important;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #000;
}

* {
  box-sizing: border-box;
}

.main-container{
  background-color: #FFDAB9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  height: 500px;
  width: 1000px;
}

.intro{
  display: flex;
  justify-content: center;
  width: 100%;

}

.photo-grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: space-between;
  margin: 30px;
}

.photo-grid-item {
  margin: 20px;
}

.main-col{
  background-color: #FFEFD5;
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.main-col-header{
  border: 1px solid #bbb;
  width: 100%;
  height: 10%;
  text-align: center;
}
.main-col-content{

  height: 90%;
  width: 90%;
  text-align: justify;
}

.sidebar-col{
  background-color: #FFF5EE;
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%
}

.sidebar-col-header{
  border: 1px solid #bbb;
  width: 100%;
  height: 10%;
  text-align: center;
}
.sidebar-col-content{
  height: 90%;
  width: 90%;
  text-align: justify;
}

.footer {

    background-color: #CD853F;
    width: 100%;
    bottom: 0;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: center;
    color: white;
}
